/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Open Sans', Arial, sans-serif;


}

h1,
h2 {
  font-family: 'Gentium Plus', serif;
}

h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1.2em;
}


h4 {
  font-weight: 400;
  font-size: 1.1em;
}


h3 {
  font-weight: 700;
  font-size: 1.4em;
}

p {
  line-height: 1.4em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3,
h4,
h5,
h6 {
  line-height: 1.4em;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}


.text_bolder {
  font-weight: 700;
}

.text_diabled {
  font-weight: 400;
  color: #cbcbcb;
}

.text_uppercase {
  text-transform: uppercase;
}

.text_spacing {
  letter-spacing: 1px;
}



/*END FONTS*/

/*COLOR PALETTE */

.primary_green {
  background-color: #98C438 !important;
}

.primary_blue {
  background-color: #007CAE !important;
}

.primary_grey {
  background-color: #B6B6B6;
}

.secondary_blue {
  background-color: #111D31;
}

.light_grey {
  background-color: #F4F4F4;
}

.light_blue {
  background-color: #F2F8FB !important;
}

.light_white {
  background-color: #FFF !important;
}

.dark_black {
  background-color: #575757 !important;
}

.text_green {
  color: #98C438;
}

.text_black {
  color: #575757;
}

.text_blue {
  color: #007CAE;
}

.text_white {
  color: #fff !important;
}
.text_italic {
  font-style: italic;
}


/*END COLOR PALETTE */

/*BUTTONS*/



.button_primary {
  background-color: #98C438 !important;
  text-transform: capitalize !important;
  color: #fff !important;
  border-radius: 32px !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;
}


.button_secondary {
  background-color: #007CAE !important;
  text-transform: capitalize !important;
  color: #fff !important;
  border-radius: 32px !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;
}


.button_terciary {
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #007CAE !important;
  border-radius: 32px !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;
}



.link_primary {
  background-color: none !important;
  text-transform: lowercase !important;
  color: #98C438 !important;
  font-weight: 700 !important;
  padding: 0px !important;
}

.link_primary:hover {
  background-color: transparent !important;
  color: #111D31 !important;
}

.link_secondary {
  background-color: none !important;
  text-transform: lowercase !important;
  color: #007CAE !important;
  font-weight: 700 !important;
  padding: 0px !important;
}

.link_secondary:hover {
  background-color: transparent !important;
  color: #111D31 !important;
}

.link_simple:hover {
  color: #111D31 !important;
}

.button_primary:hover {
  background-color: #fff !important;
  color: #98C438 !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
}

.button_secondary:hover {
  background-color: #111D31 !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button_secondary_border:hover {
  background-color: #111D31 !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button_terciary:hover {
  background-color: #007CAE !important;
  color: #fff !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button_primary:hover {
  background-color: #fff !important;
  color: #98C438 !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
}

.button_secondary:hover {
  background-color: #111D31 !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button_terciary:hover {
  background-color: #007CAE !important;
  color: #fff !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button_function {
  text-transform: capitalize !important;
  background-color: #fff !important;
  color: black !important;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
  font-weight: 700 !important;
  padding: 24px !important;
  height: 60px;
  border-radius: 8px !important;
  font-size: 1.1em !important;
}

/*END BUTTONS*/

/*CONTAINER*/

.no-spacing {
  margin: 0px !important;
  padding: 0px !important;
}

.margin_top_m {
  margin-top: 30px !important;
}

.margin_top_s {
  margin-top: 10px !important;
}

.margin_bottom_m {
  margin-bottom: 30px !important;
}

.margin_bottom_s {
  margin-bottom: 10px !important;
}

.margin_left_s{
  margin-left: 10px !important;
}

.margin_right_s{
  margin-right: 10px !important;
}

.margin_left_xs{
  margin-left: 5px !important;
}

.margin_right_xs{
  margin-right: 5px !important;
}

.margin_xs {
  margin: 5px !important;
}


.margin_s {
  margin: 10px !important;
}

.margin_m {
  margin: 20px !important;
}



.padding_none {
  padding: 0px !important;
}

.justify_end_spacing {
  display: flex;
  justify-content: end;
  width: 97%;
  margin-right: 3%;
}



.justify_end {
  display: flex;
  justify-content: end;
  width: 100%;
}

.justify_end_partial {
  display: flex;
  justify-content: end;
}

.justify_center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.justify_between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.justify_content_between {
  display: flex;
  ;
}


.flex {
  display: flex;
}



.wrap {
  display: flex;
  flex-wrap: wrap;
}

.width_100 {
  width: 100%;
}

.shadow {
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
}

.text_center {
  text-align: center;
}

.vertical_align {
  display: flex;
  align-items: center;
  align-content: center;
}

.position_float{

  position: absolute;
  z-index: 20;
}

.position_relative{
  position: relative;
}

.display_block{
  display: block;
  width: 100%;
}

.container_main{
  background-color: #FFF;
  width: 80%;
  min-width: 400px;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;

}

.z-index_front{
  z-index: 10;
}

.display_flex{
  display: flex;
}

.display_none{
  display: none;
}

.display_inline{
  display: inline !important;
}

/*END CONTAINER*/



/*SEARCH BAR */




.autocomplete_button {
  position: absolute !important;
  top: 16px;
  right: 10px;
  text-transform: initial !important;

}

.autocomplete_bar_search {
  margin: 45px 0px 45px 3%;
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  min-width: 260px;

}

.autocomplete_button_advance {
  position: absolute !important;
  right: 40px;
  top: 67px;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  text-transform: initial !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;
}

.autocomplete_button_help {
  position: absolute !important;
  right: -56px;
  top: 13px;
  border-radius: 50px !important;
  text-transform: initial !important;
  padding: 10px 30px !important;
  height: 50px;
  width: 50px;
  min-width: 30px !important;
  padding: 0px !important;
  font-size: 1.5em !important;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
}

.autocomplete_delete {
  position: absolute !important;
  right: 160px;
  color: #B6B6B6;
  width: 20px;
  cursor: pointer
}

.switch_search {
  position: absolute !important;
  right: 26px;
  top: -35px;
  min-width: 234px;
  color: #007CAE;

}




/* Bordes de autocomplete */

.autocomplete_bar_search .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}


.autocomplete_bar_search_small .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #CAF0FF !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #CAF0FF !important;
}



/* Label Placeholder*/


.MuiInputLabel-root {
  color: #c4c4c4 !important;

}

.MuiInputLabel-root.Mui-focused {
  color: #111D31 !important;
}



/*END SEARCH BAR */

/*SEARCH BAR SMALL*/

.button_search_container {
  display: flex;
}

.autocomplete_button_small {
  position: absolute !important;
  top: 8px;
  padding: 0px !important;
  width: 40px;
  height: 40px;
  right: 10px;
  text-transform: initial !important;
}

.autocomplete_button_responsive {
  position: absolute !important;
  top: 18px;
  padding: 0px !important;
  width: 40px;
  height: 40px;
  right: 10px;
  text-transform: initial !important;
}

.autocomplete_bar_search_small {
  margin: 0px 0% 20px 0%;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 280px;
}


.autocomplete_delete_small {
  position: absolute !important;
  right: 90px;
  color: #B6B6B6;
  width: 20px;
  cursor: pointer
}


/*SEARCH BAR */


/*CARD SEARCH RESULTS */

.card_container {

  width: 100% !important;
  padding: 5px 10px 10px 10px !important;
}


.card_search_results {
  margin: 20px 1%;
  padding: 10px 20px 20px 10px;
  border-radius: 4;
  border: #fff !important;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2)
}

.card_actions_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card_search_button_spacing {
  display: flex;
  justify-content: end;
  width: 100%;
}

.card_search_button {
  width: 15%;
}


/* Color del paginador*/
.MuiPaginationItem-root {
  color: #007CAE !important;
  border-radius: 4px;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #111D31 !important;
  color: #fff !important;
}


.margin_search {
  margin-top: 16px;
}

.separator {
  border: 1px solid #bfc0c042;
  margin: 20px 0px 10px 0px
}

/*END CARD SEARCH RESULTS */





/* SELECT PAGINATOR */


.select_items_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.select_items_results {
  width: 60px;
  height: 40px;
  min-width: 60px;
  margin: 0px 10px !important;
}

.select_items_results_small {
  width: 60px;
  height: 40px;
  min-width: 60px;
  margin: 0px 10px 0px 10px !important;
}

.css-ece9u5 {
  min-width: 20px !important;
}


.pagination_container {
  margin: 0px 0px;
  display: flex;
}

/*END PAGINATOR*/

/*RESULTS PAGE TEXT*/




/*END RESULTS PAGE TEXT*/

/*FILTERS*/


.card_filter {
  margin: 0px 3%;
  border-radius: 8px;
  padding: 0px 1% 20px 1%;
  border-radius: 16px !important;
  border: #fff !important;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2) !important;
}



.select_filter {
  margin: 8px 0px !important;
}

.chip_select {
  background-color: #98C438 !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 0.7em !important;
  padding: 0px 4px !important;
}




.icon_cancel {
  color: #fff !important;
  font-size: 1.4em !important;
}

.icon_cancel:hover {
  color: #111D31 !important;
}

.Mui-disabled {
  color: rgba(191, 191, 191, 0.5) !important;
  border: none !important;
  background-color: rgb(241, 241, 241) !important;
}

.Mui-disabled .MuiOutlinedInput-notchedOutline {
  box-shadow: none !important;
  border: none !important;
  color: rgba(211, 211, 211, 0.5) !important;
  background-color: transparent !important;
}



/*END FILTERS*/


/*SORTER*/


.container_date_sorted {
  position: absolute;
  margin-left: 8px;
  background-color: #fff;
  z-index: 10 !important;
  width: min-content;
  ;
  height: auto;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
  padding: 12px;

}

.items_sorted {
  text-transform: capitalize !important;
  color: black !important;
  line-height: 1.2em !important;

}


/*END SORTER*/


/*FILTER LARGE */
.card_filter_large {
  margin: 0px 3%;
  border-radius: 8px;
  padding: 16px !important;
  border-radius: 16px !important;
  border: #fff !important;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2) !important;
  background-color: #FFF;
  vertical-align: center;
  align-items: center;
  align-content: center;
  z-index: 10;

}

.card_filter_large_active {
  margin: 0px 3%;
  border-radius: 8px;
  padding: 8px 16px 16px 16px !important;
  border-radius: 16px !important;
  border: #fff !important;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2) !important;
  background-color: #111D31;
  color: #fff;
  vertical-align: center;
  align-items: center;
  align-content: center;
  z-index: 10;

}


/*Start icon End icon */
.button_function .MuiButton-startIcon {
  margin-right: 4% !important;

}

.button_function .MuiButton-endIcon {
  margin-left: 70% !important;
  color: #98C438;
}

.button_function_noradius .MuiButton-endIcon {
  margin-left: 70% !important;
  color: #98C438;
}

.button_function_noradius .MuiButton-startIcon {
  margin-right: 4% !important;

}

/*Start icon End icon */


.button_function_noradius {
  text-transform: capitalize !important;
  background-color: #fff !important;
  color: black !important;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
  font-weight: 700 !important;
  padding: 24px !important;
  height: 60px;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 0px !important;
  font-size: 1.1em !important;
}


/*END FILTER LARGE*/


/*MAP*/

.map{
  height: 100%;
  width: auto;
  min-height: 520px;
}

/*END MAP*/

/*FILTER LARGE OR FLOAT */

.button_filter_size{
  width: 300px;
  min-width: 300px;
}



.chip_select_large {
  margin:2px;
}

.filter_justify_between{
  display: flex;
  justify-content: space-between;
}

.card_filter_float {
  margin: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 0px 1% 20px 1%;
  border: #fff !important;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2) !important;
}

.card_filter_float_hidden {
  display: none;
}


/*END FILTER LARGE*/


/* BUSQUEDA AVANZADA*/


.search_advance_size{
  margin: 10px 10%;
}

/*TEXTAREA BUSQUEDA AVANZADA*/

.textarea_size{
  width: 100%;
}

.autocomplete_button_help_area {
  top: 100%;
  right: 0;
  border-radius: 50px !important;
  text-transform: initial !important;
  padding: 10px 30px !important;
  height: 50px;
  width: 50px !important;
  min-width: 50px !important;
  min-height: 50px !important;
  padding: 0px !important;
  font-size: 1.5em !important;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
}

.container_help_advance{
  left:-280px;
  background-color: #FFF;
  width: 300px;
  max-width: 300px;
  height: auto;
  box-shadow: rgba(57, 129, 195, 0.2) 0px 8px 24px;
  z-index: 100;
  border-radius: 16px;
  padding: 16px;

}

.info_help_position{
  margin-top: 200px;

}

.modal_help_container{
  position: relative;
}



/*TEXTAREA BUSQUEDA AVANZADA*/

/*AUTOCOMPLETE BUSQUEDA AVANZADA*/

.autocomplete_bar_search_advance {
  margin: 0px 0% 20px 0%;
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: none;

}

.autocomplete_bar_search_advance .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}

.search-advance-width{
  width: 100%;
}

.filter_advance{
  margin-top: 10px;
  max-width: 299px;
}



/*AUTOCOMPLETE BUSQUEDA AVANZADA*/


/*FILTER BUSQUEDA AVANZADA */

.autocomplete_bar_search_nomargin {
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  min-width: 260px;
}

.autocomplete_bar_search_nomargin .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}

.card_filter_size{
  width: 300px !important;
}

.input_advance{
  width: 88%;
  border: 1px solid #CAF0FF;
  border-radius: 16px;
  margin: 1.4% 1% 0% 1%;
  padding: 8px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.button_search_advance{
  max-height: 50px;
  min-width: 120px !important;

}

.operador_size{
  padding-top: 0.5px;
  margin-left: 8px;
  margin-right: 8px;
}



/*END FILTER BUSQUEDA AVANZADA */


/*TESAURO */

.button_alphabet {
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #007CAE !important;
  border-radius: 12px !important;
  padding: 10px 10px !important;
  margin: 10px !important;
  font-weight: 700 !important;
  font-size: 1.0em !important;
  min-width: 52px !important;
}



.container_list_tesauro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  border-radius: 20px;
  max-height: 500px;

  overflow-y: auto;




}

.button_group_tesauro{
  width:100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.list_container_tesauro {
  width: 100%;
  max-width: 850px;


}

.list_tesauro {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre elementos */

}

.scroll-container {
  width: 1000px; /* Ancho del contenedor */
  height: 350px; /* Altura del contenedor */
  overflow-y: auto; /* Scroll vertical */
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
  border-radius: 20px; /* Radio del borde */
  padding: 10px; /* Espaciado interno */
  background-color: #fff;
}


/* Firefox */
.scroll-container {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento: auto, thin, none */
  scrollbar-color: #98C438 transparent; /*Color del control deslizante del scroll y el fondo */


  scroll-behavior: smooth;

  scrollbar-gutter: stable both-edges;
}


.list_item_tesauro {
  position: relative;
  flex: 1 1 calc(50% - 10px); /* Ajusta el ancho de las columnas */
  box-sizing: border-box;
  padding: 6px 0px;
  line-height: 1.2rem;

  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;

}

.text_ellipsis{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Estilos personalizados para el Tooltip de MUI */
.MuiTooltip-tooltip {
  background-color: #ffffff !important; /* Color de fondo del tooltip */
  color: #282828 !important; /* Color del texto del tooltip */
  font-size: 0.8em !important; /* Tamaño de la fuente */
  line-height: 1.4em !important; /* Tamaño de la fuente */
  padding: 8px 16px !important; /* Padding del tooltip */
  border-radius: 4px !important; /* Bordes redondeados */
  text-align: center !important; /* Alineación del texto */
  box-shadow: rgba(57, 128, 195, 0.098) 0px 8px 24px;
}

.MuiTooltip-arrow {
  color: #333 !important; /* Color de la flecha del tooltip */
}



.tooltip {
  position: absolute;
  top: 100%; /* Posiciona el tooltip arriba del item */
  left: 50%;
  max-width: 200px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap; /* Mantiene el texto en una línea */
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Hace que el tooltip no interfiera con el mouse */
  z-index: 10; /* Asegura que el tooltip esté por encima de otros elementos */
}

.list_item_tesauro:hover .tooltip {
  opacity: 1;
}

.button_alphabet_active {
  background-color: #111D31 !important;
  color: #ffffff !important;
}





.autocomplete_button_terms {
  position: absolute !important;
  top: 8px;
  padding: 0px !important;
  width: 40px;
  height: 40px;
  right: 10px;
  text-transform: initial !important;
}

.autocomplete_bar_search_terms {
  margin: 0px 0% 20px 0%;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  min-width: 280px;
}

.autocomplete_bar_search_terms  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(57, 129, 195, 0.2);
}

.list_container_header{
  width: 98%;
  margin: 0% 1%;
}

.link_inline{
  display: flex;

  align-items: flex-start;
  

}

.link_nounderline{
  text-decoration: none;
}


/*END TESAURO */













/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

/*QUERIES*/



@media (max-width: 1130px) {
  .filter_justify_between {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .filter_advance_position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .autocomplete_bar_search_nomargin {
    margin: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 98%;
    max-width: 1000px;
    min-width: 260px;
  }

  .search_advance_size{
    margin: 10px 2%;
  }


}
@media (max-width: 1000px) {
  .list_item_tesauro {
    flex: 1 1 calc(100% - 10px); /* Dos columnas en pantallas pequeñas */
  }

  .scroll-container {
    max-width: 90%;
    margin: 0% 5% 0% 5%;

  }
}

@media (max-width: 400px) {
  .list_item_tesauro {
    flex: 1 1 100%; /* Una columna en pantallas muy pequeñas */
  }
}





/*END QUERIES*/